<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Productos Grupo A | Subgrupo 2</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilos.css')}}"/>
  </head>
  <body>
    <div class="container ">
        <div class="row justify-content-center mt-5 p-2">
            <div >
                <div class="card ">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="login-box" id="addItem">
                        <h2>Añadir producto al inventario</h2>
                        <form method="get" action="principal.html">
                            <div class="form-group">
                                <label for="name">Nombre</label>
                                <small id="helpName" class="form-text text-muted">Introduce el nombre del producto</small>
                                <input type="text"
                                class="form-control" name="name" id="name" aria-describedby="helpName" placeholder="ej: Papas fritas" required>
                            </div>
                            <div class="form-group">
                                <label for="price">Precio</label>
                                <small id="helpPrice" class="form-text text-muted">Introduce el precio del producto</small>
                                <input type="number"
                                class="form-control" name="price" id="price" aria-describedby="helpPrice" placeholder="ej : $2.800" `required>
                            </div>
                            <div class="form-group">
                                <label for="qty">Cantidad</label>
                                <small id="helpQty" class="form-text text-muted">Introduce la cantidad</small>
                                <input type="number"
                                class="form-control" name="qty" id="qty" aria-describedby="helpQty" placeholder="ej: 50" `required>
                            </div>
                            <div class="form-group" style="justify-content: center;">
                               <div class="column" style="justify-content: center;"><a href="{{url_for('principal')}}" id="agregar"  class="AddButton">Agregar Producto</a></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
